@model IEnumerable<FrogBayLodge.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumOccupancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitchenette)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fireplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th>
                <img src=@Html.DisplayNameFor(model => model.ImageUrl) class="detailImage" />
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumOccupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kitchenette)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Fireplace)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.View))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                    <img style="max-width: 300px;" src=@Html.DisplayFor(modelItem => item.ImageUrl) class="room image" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
